.colourSwatch {
  width: 100px;
  height: 100px;
}


.gradient-1{
  background: linear-gradient(to bottom right, #E0FFE5, #EFFFFF);
}

.gradient-2{
  background: linear-gradient(to bottom right, #7EA154, #5F9A50);
}

.gradient-3{
  background: linear-gradient(to bottom right, #AA7554, #9F9A50);
}

.opac{
  background-color: rgba(95, 154, 80, 0.7);
}
