.verveine {
  font-family: "verveine";
  font-weight: normal;
  line-height: 1;
  }

  h1.verveine {
    font-size: 70px;
    margin: 0;
    padding: 0;
    }


 h2.verveine{
   font-size: 60px;
   margin: 0;
   padding: 0;
 }

h3.verveine{
  padding-top: 1rem;
  font-size: 50px;
  text-align: center;
}
 .aaux {
   font-family: "aaux-next";

  }

 .subheading{
   font-size: 21px;
   font-weight: bold;
 }

 .paragraph{
   font-size: 21px;
 }

 .navi{
   font-size: 15px;
 }

 .navis{
   font-size: 15px;
   font-weight: bold;
 }
